<div class="dashboard">
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          left area
        </div>
        <div class="col-lg-4">
          right area
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-4">
          <div class="col-lg-11 box" style="background-color: #dedef8;
               box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;"
            (click)="time()">
            this is box
          </div>
        </div>
        <div class="col-lg-4">
          <div class="col-lg-11 box" style="background-color: #dedef8;
               box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;"
            (click)="expense()">
            <div class="page-header">
              <p class="text-left">
                this is box
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="col-lg-11 box" style="background-color: #dedef8;
               box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            this is box
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-4">
          <div class="col-lg-11 box" style="background-color: #dedef8;
                 box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            this is box
          </div>
        </div>
        <div class="col-lg-4">
          <div class="col-lg-11 box" style="background-color: #dedef8;
                 box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            this is box
          </div>
        </div>
        <div class="col-lg-4">
          <div class="col-lg-11 box" style="background-color: #dedef8;
                 box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            this is box
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
