<div class="time container">
  <div class="row">

    <div class="header container">
      <div class="row">
        <div class="col-lg-6 header-left">
          <h1>myTE</h1>
        </div>
        <div class="col-lg-6 header-right">
          <div class="row col-lg-12 header-right-top">
            <a><h4>Link 1 </h4></a>
            <a><h4>Link 2 </h4></a>
            <a><h4>Link 3 </h4></a>
            <a><h4>Link 4 </h4></a>
          </div>
          <div class="row col-lg-12 header-right-bottom">
            header-right-bottom
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-12">
        <form role="header form">
          <div class="form-group con-lg-12">
            <label>myTE Setting</label>
          </div>
          <div class="form-group col-lg-12">
            <label>Information & Button</label>
          </div>
          <div class="form-group col-lg-12">
            <label>Error</label>
          </div>
          <div class="form-group col-lg-12">
            <label>Table</label>
          </div>
        </form>
      </div> -->
    <div class="row info-button">
      <div class="col-lg-12">
        <div class="col-lg-3 name">
          <button type="menu">{{username}}</button>
        </div>
        <div class="col-lg-3 select">
          select
        </div>
        <div class="col-lg-4 status">
          status
        </div>
        <div class="col-lg-2 button">
          <button type="button" class="button">Submit</button>
        </div>
      </div>
    </div>
    <div class="row error-mess">
      <div class="col-lg-12">
        <h2>Error Message</h2>
      </div>
    </div>
    <!-- <div class="row time-table">
      <div class="col-lg-12">
        <h2>Time Table</h2>
      </div>
    </div> -->
    <form role="form">
      <div class="row time-table form-group col-lg-12">
      
    </div>
    <table class="table table-bordered col-lg-12">
      <caption>
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th class="table-tab1">tab1</th>
            <th>tab2</th>
            <th>tab3</th>
            <th>tab4</th>
            <th>tab5</th>
            <th>tab1</th>
            <th>tab2</th>
            <th>tab3</th>
            <th>tab4</th>
            <th>tab5</th>
            <th>tab1</th>
            <th>tab2</th>
            <th>tab3</th>
            <th>tab4</th>
            <th>tab5</th>
            <th>tab5</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>aaaaa</td>
            <td>aaaaa</td>
            <td>aaaaa</td>
            <td>aaaaa</td>
            <td>aaaaa</td>
            <td>aaaaa</td>
            <td>aaaaa</td>
            <td>aaaaa</td>
            <td>aaaaa</td>
            <td>aaaaa</td>
            <td>aaaaa</td>
            <td>aaaaa</td>
            <td>aaaaa</td>
            <td>aaaaa</td>
            <td>aaaaa</td>
            <td>aaaaa</td>
          </tr>
          <tr>
            <td>bbbbb</td>
            <td>bbbbb</td>
            <td>bbbbb</td>
            <td>bbbbb</td>
            <td>bbbbb</td>
            <td>bbbbb</td>
            <td>bbbbb</td>
            <td>bbbbb</td>
            <td>bbbbb</td>
            <td>bbbbb</td>
            <td>bbbbb</td>
            <td>bbbbb</td>
            <td>bbbbb</td>
            <td>bbbbb</td>
            <td>bbbbb</td>
            <td>bbbbb</td>
          </tr>
          <tr>
            <td>ccccc</td>
            <td>ccccc</td>
            <td>ccccc</td>
            <td>ccccc</td>
            <td>ccccc</td>
            <td>ccccc</td>
            <td>ccccc</td>
            <td>ccccc</td>
            <td>ccccc</td>
            <td>ccccc</td>
            <td>ccccc</td>
            <td>ccccc</td>
            <td>ccccc</td>
            <td>ccccc</td>
            <td>ccccc</td>
            <td>ccccc</td>
          </tr>
          <tr>
            <td>ddddd</td>
            <td>ddddd</td>
            <td>ddddd</td>
            <td>ddddd</td>
            <td>ddddd</td>
            <td>ddddd</td>
            <td>ddddd</td>
            <td>ddddd</td>
            <td>ddddd</td>
            <td>ddddd</td>
            <td>ddddd</td>
            <td>ddddd</td>
            <td>ddddd</td>
            <td>ddddd</td>
            <td>ddddd</td>
            <td>ddddd</td>
          </tr>
          <tr>
            <td>eeeee</td>
            <td>eeeee</td>
            <td>eeeee</td>
            <td>eeeee</td>
            <td>eeeee</td>
            <td>eeeee</td>
            <td>eeeee</td>
            <td>eeeee</td>
            <td>eeeee</td>
            <td>eeeee</td>
            <td>eeeee</td>
            <td>eeeee</td>
            <td>eeeee</td>
            <td>eeeee</td>
            <td>eeeee</td>
            <td>eeeee</td>
          </tr>
        </tbody>
      </table>
      </caption>
    </table>
    </form>

  </div>
</div>
